<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers who have little to no prior computational experience,
  and these lessons are all in R. 
  In this <b>four-day workshop series</b>, learners will learn almost all of the tools that they may need for their personal
    research projects. Starting with computing and programming basics in R, and moving into advanced topics of writing functions,
    data analyses and visualizations, learners will finish this series with the confidence and computational power to quickly
    apply skills learned to complete their own research. Please see our schedule below for all of the topics that will be covered.


</p>


<p>
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>


<p>
  The entire four-day workshop will cost <b>$25 CAD</b>, which will cover snacks for all four days, lunch on the last day, and
help support instructor honoraria (+ Eventbrite's fee).
  
</p>
<p align="center">
  <em>
    If the above Eventbrite link does not work,
    <a href="https://www.eventbrite.ca/e/data-carpentries-in-r-with-uoft-coders-registration-1215589012459"><b>register here</b></a>.
  </em>
</p>
