<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers who have little to no prior computational experience,
  and these lessons are all in R. 
  In this <b>four-day workshop series</b>, learners will learn almost all of the tools that they may need for their personal
    research projects. Starting with computing and programming basics in R, and moving into advanced topics of writing functions,
    data analyses and visualizations, learners will finish this series with the confidence and computational power to quickly
    apply skills learned to complete their own research.

  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.

    Please see our schedule below for our entire four-day curriculum.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="https://doi.org/10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
